.main p{
    font-size: 70px;
    text-align: center;
    font-family: 'Markazi Text', serif;
    margin-top: 230px;
}
.mainSpan{
    background: #ffb84d;
    border-radius: 15px;
    color: white;
    /*width:200px;*/
    /*hight:150px;*/
    padding:10px;
}
body{
    border: 1px solid black;
    height: 640px;
}
.subTitle{
    background: none;
    color:  #707070;
    margin-left: 23px;
    position: relative;
    top: -90px;
    font-family: 'Song Myung', serif;
}

/*--------------------------------Admin--------------------------------*/

.admin p{
    font-size: 20px;
    display: inline;
    font-family: 'Markazi Text', serif;
}
.admin button{
    padding: 10px;
    margin: 10px;
    margin-left: 15%;
    font-family: 'Markazi Text', serif;
    border-radius: 20px;
    height:50px;
    width: 50px;
    background: orange;
}
.admin h1{
    text-align: center;
    font-family: 'Song Myung', serif;
    padding-top: 40px;
}
.admin h5{
    text-align: center;
    margin-top: -20px;
}
.adminOp1{
    margin-top: 45px;
}
.adminOp3{
    padding-bottom: 100px;
}
button.add{
    margin-left: 70%;
    margin-top: 70px
}

